.dark-theme {
  color: #ebebeb;
}

.dark-theme input{
  color: white;
  background-color: #212121;
}

.dark-theme-background {
  background-color: darkgray;
}

.dark-theme .bottom-separator{
  border-color: #ebebeb;
}

.dark-theme .settings-icon {
  fill: white;
}

.top{
  display: flex;
  height: 50px;
}


.top-left{
  flex: 1;
  display: flex;
  align-items: center;
  border: 0;
}


.top-center{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
}

#month {
  font-size: 3rem;
}

.day {
  margin-top: 3rem;
  margin-bottom: 2rem;
}



.bottom-separator {
   border-bottom: 3px solid black;
}

#day-name {
  font-size: 2rem;
 
}

#day-number {
  line-height: 1;
  font-size: 5rem;
}

.settings-icon {
  width: 3rem;
  height: auto;
}



.top-right{
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border: 0;
}


body{
  font-size: 1.8em;
}


.item-nutrients{
  color: #990202;
}

.item-input{
  display: flex;
}

.delete {
  margin-left: 5px;
  color: red;
}


#command {
  /* margin-top: 1rem; */
}
#command-input {
  border: none;
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}