.darkmode--activated div{
  color: #fff;
}

body{
  font-size: 1.8em;
}
.header {
  text-align: center;
}

.settings-icon {
  position: absolute;
}

.datechange {
  border: none;
  background-color: transparent;
  overflow: hidden;
  outline: none;
}

.flex {
  display: flex;
}
.item {
  padding-bottom: 5px;
}

.section {
    border-top: 1px solid 
    #eee;
    padding-top: 1rem;
    margin-top: 0.2em;
}


.commands {
  border: none;
  width: 100%;
  height: 1.2em;
  border-bottom: 1px solid #ccc !important;
}

.hold{
    -webkit-animation: fadein 2.5s linear 1 normal forwards;
}

@-webkit-keyframes fadein{
    from { opacity: 1; }
    to { opacity: 0; }
}

.hidden {
  display: none;
}

.delete {
  color: red;
  margin-left: 5px;
}
.overlay {
  display: none;
  padding: 0 20px;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white; /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}